html{
    scroll-behavior: smooth;
}

body{
 background-color: mistyrose;
}

header{
    background-color: darkseagreen;
    margin-bottom: 5px;
    border-radius: 20px;
}

h1{
    display:flex;
    flex-direction: row;
    justify-content: start;
    text-align: left;
    font-family: Candara;
    font-size: 75px;
}
h2{
    text-align: center;
    font-family: Candara;
    font-size: 75px;
}

p{
    text-align: center;
    font-family: Candara;
    font-size: 25px;
    font-weight: inherit;
}

ul{
    list-style-type: none;
    text-align: center;
    text-space: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    padding-top: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

a{
    font-family: Corbel;
    font-size: 20px;
    height: 20px;
    width: 110px;
    background-color: lightblue;
    border-radius: 20px;
    text-decoration-line: none;
}
a:hover{
    background-color: blue;
}


.introduction{
    text-align: left;
    font-family: "Comic Sans MS";
    background-color: darkseagreen;
    border: black;
    border-radius: 10px;
}

.education{
background-color: darkseagreen;
    border-radius: 10px;
}

.list-of-jobs{
    background-color: darkseagreen;
    border-radius: 10px;
}

.footer{
    background-color: lightsalmon;
    border-radius: 10px;
}

.footer-header{
    text-align: left;
    font-family: Candara;
    font-size: 65px;
}

.alek{
    display: flex;
    flex-direction: row;
    image-resolution: normal;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 2px;
}

.hello{
    clear: right;
    margin-bottom: 100px;
}

